In [472]:
#imports 
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import Ridge
from sklearn.linear_model import RidgeCV
from sklearn.linear_model import Lasso, LassoCV

In [473]:
#reading in dataset train 
df = pd.read_csv('./datasets/train.csv')
df_test = pd.read_csv('datasets/test.csv')

my first run was good enough to get me into 3rd (for now), but it was over fit.  This attemp will try to fix that

Creating Function for EDA to make future me happy, i am keeping this the same for this run

In [474]:
#first lets create the function and some dummies 
def eda_function (df): 
    # replacing NAN in lot frontage with mean to reduce outlyers and still give a data point 
    df['Lot Frontage'].fillna(value=(df['Lot Frontage'].mean()), inplace = True)
    
    # replacing NAN in garage year with mean to reduce outlyers and still give a data point 
    df['Garage Yr Blt'].fillna(value=(df['Garage Yr Blt'].mean()), inplace = True)
    
    #replacing mason area with 0 as it is likely to be the case and it will not create an outlyer
    df['Mas Vnr Area'].fillna(value=(df['Mas Vnr Area'].mean()), inplace = True)

    #making catagories into dummies 
    df = pd.get_dummies(df, columns =['MS SubClass', 'MS Zoning',
       'Street', 'Alley', 'Lot Shape', 'Land Contour',
       'Utilities', 'Lot Config', 'Land Slope', 'Neighborhood',
       'Condition 1', 'Condition 2', 'Bldg Type', 'House Style',
       'Overall Qual', 'Overall Cond',
       'Roof Style', 'Roof Matl', 'Exterior 1st', 'Exterior 2nd',
       'Mas Vnr Type', 'Exter Qual', 'Exter Cond',
       'Foundation', 'Bsmt Qual', 'Bsmt Cond', 'Bsmt Exposure',
       'BsmtFin Type 1', 'BsmtFin Type 2', 'Heating', 'Heating QC',
       'Central Air', 'Electrical','Kitchen Qual', 'Functional', 'Fireplace Qu', 'Garage Type',
       'Garage Finish', 'Garage Qual',
       'Garage Cond', 'Paved Drive',
       'Pool QC', 'Fence', 'Misc Feature', 'Sale Type'])
    #replacing all other NAs with zero  https://sparkbyexamples.com/pandas/pandas-replace-nan-values-by-zero-in-a-column/#:~:text=Replace%20NaN%20Values%20with%20Zero%20on%20pandas%20DataFrame,but%20returns%20a%20new%20DataFrame.
    df = df.fillna(0) 
    
    return df

sending info thorugh the function

In [475]:
df_test = eda_function(df_test)

In [476]:
df = eda_function(df)

dropping columns that are not in both sets

In [477]:
#finding those values  https://www.askpython.com/python/list/difference-between-two-lists-unique-entries#:~:text=In%20Python%2C%20to%20find%20the,unique%20entries%20from%20both%20lists.
list(set(df.columns.values) - set(df_test.columns.values))

['Overall Qual_1',
 'Misc Feature_Elev',
 'Exterior 1st_Stone',
 'Garage Qual_Ex',
 'Condition 2_Artery',
 'Neighborhood_GrnHill',
 'Neighborhood_Landmrk',
 'Condition 2_RRAn',
 'Functional_Sal',
 'Heating QC_Po',
 'Heating_OthW',
 'Condition 2_RRNn',
 'Roof Matl_ClyTile',
 'Pool QC_Gd',
 'Exterior 2nd_Stone',
 'SalePrice',
 'Bsmt Cond_Ex',
 'Utilities_NoSeWa',
 'Electrical_Mix',
 'Exterior 1st_ImStucc',
 'Roof Matl_Membran',
 'Condition 2_RRAe',
 'Condition 2_PosN',
 'Functional_Sev',
 'MS Zoning_A (agr)',
 'Misc Feature_TenC',
 'Heating_Wall',
 'Bsmt Cond_Po',
 'Exterior 1st_CBlock',
 'Pool QC_Fa',
 'MS SubClass_150']

In [478]:
df_test = df_test.drop(columns = ['Kitchen Qual_Po',
 'Roof Matl_Metal',
 'Exterior 2nd_Other',
 'Exterior 2nd_PreCast',
 'Roof Matl_Roll',
 'Sale Type_VWD',
 'Mas Vnr Type_CBlock',
 'Heating_Floor',
 'Exterior 1st_PreCast'])

In [479]:
df =df.drop(columns = ['Bsmt Cond_Ex',
 'Misc Feature_Elev',
 'MS Zoning_A (agr)',
 'Garage Qual_Ex',
 'Neighborhood_Landmrk',
 'Misc Feature_TenC',
 'Utilities_NoSeWa',
 'Neighborhood_GrnHill',
 'Exterior 1st_ImStucc',
 'Condition 2_RRAe',
 'Roof Matl_Membran',
 'Heating_Wall',
 'Electrical_Mix',
 'Condition 2_PosN',
 'Pool QC_Gd',
 'Condition 2_Artery',
 'Heating QC_Po',
 'Functional_Sal',
 'Condition 2_RRAn',
 'Exterior 1st_Stone',
 'Bsmt Cond_Po',
 'MS SubClass_150',
 'Exterior 1st_CBlock',
 'Pool QC_Fa',
 'Functional_Sev',
 'Heating_OthW',
 'Exterior 2nd_Stone',
 'Roof Matl_ClyTile',
 'Condition 2_RRNn',
 'Overall Qual_1'])

Correlation.  I am going to look at corr and take out the values in the middle

In [480]:
corr = (df.corr()[['SalePrice']].sort_values(by = "SalePrice", ascending = False))
corr = corr[97:197].index
corr = corr.drop('Id')

In [481]:
df =df.drop(columns = corr)

In [482]:
df_test = df_test.drop(columns = corr)

Seeing what corr

In [483]:
df.corr()[['SalePrice']].sort_values(by=['SalePrice'], ascending=False)

                   SalePrice
SalePrice           1.000000
Gr Liv Area         0.697038
Garage Area         0.649897
Garage Cars         0.647781
Total Bsmt SF       0.629303
...                      ...
Mas Vnr Type_None  -0.424088
Garage Finish_Unf  -0.432220
Bsmt Qual_TA       -0.456979
Kitchen Qual_TA    -0.540860
Exter Qual_TA      -0.600362

[195 rows x 1 columns]

## Standar Scaling

In [484]:
X = df.drop(columns=['SalePrice'])
y = df['SalePrice'] 
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=2023)

In [485]:
sc = StandardScaler()
Z_train = sc.fit_transform(X_train) 
Z_test = sc.transform(X_test)
Z_test_val=sc.transform(df_test)

In [486]:
df_test.head()

,Id,PID,Lot Frontage,Lot Area,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,Bsmt Unf SF,Total Bsmt SF,...,Garage Cond_Po,Garage Cond_TA,Paved Drive_N,Paved Drive_P,Paved Drive_Y,Fence_GdWo,Fence_MnPrv,Sale Type_COD,Sale Type_New,Sale Type_WD
0,2658,902301120,69.000000,9142,1910,1950,0.0,0,1020,1020,...,1,0,0,0,1,0,0,0,0,1
1,2718,905108090,69.545961,9662,1977,1977,0.0,0,1967,1967,...,0,1,0,0,1,0,0,0,0,1
2,2414,528218130,58.000000,17104,2006,2006,0.0,554,100,654,...,0,1,0,0,1,0,0,0,1,0
3,1989,902207150,60.000000,8520,1923,2006,0.0,0,968,968,...,0,1,1,0,0,0,0,0,0,1
4,625,535105100,69.545961,9500,1963,1963,247.0,609,785,1394,...,0,1,0,0,1,0,0,0,0,1

## fitting the model

In [487]:
#lr = LinearRegression()

In [488]:
#lr.fit(Z_train, y_train)

In [489]:
#r.score(Z_train, y_train)

In [490]:
#lr.score(X_test, y_test)

## Ridge

In [491]:
ridge_model = Ridge(alpha=100)
ridge_model.fit(Z_train, y_train) 

print(ridge_model.score(Z_train, y_train))
print(ridge_model.score(Z_test, y_test))

0.9200362529307153
0.8298609503959767

In [492]:
r_alphas = np.logspace(1, 200, 100)
ridge_cv = RidgeCV(alphas=r_alphas, scoring='r2', cv=10) 
ridge_cv = ridge_model.fit(Z_train, y_train) 

print(ridge_cv.score(Z_train, y_train))
print(ridge_cv.score(Z_test, y_test))

0.9200362529307153
0.8298609503959767

In [493]:
#ridge_cv.alpha_

In [494]:
ridge_test = ridge_model.fit(Z_test_X, y)
print(ridge_test.score(Z_test_X, y))

0.9067806597498725

In [495]:
df_test['SalePrice'] = ridge_test.predict(Z_test_val)

In [496]:
df_test

,Id,PID,Lot Frontage,Lot Area,Year Built,Year Remod/Add,Mas Vnr Area,BsmtFin SF 1,Bsmt Unf SF,Total Bsmt SF,...,Garage Cond_TA,Paved Drive_N,Paved Drive_P,Paved Drive_Y,Fence_GdWo,Fence_MnPrv,Sale Type_COD,Sale Type_New,Sale Type_WD,SalePrice
0,2658,902301120,69.000000,9142,1910,1950,0.0,0,1020,1020,...,0,0,0,1,0,0,0,0,1,128462.343600
1,2718,905108090,69.545961,9662,1977,1977,0.0,0,1967,1967,...,1,0,0,1,0,0,0,0,1,152423.728905
2,2414,528218130,58.000000,17104,2006,2006,0.0,554,100,654,...,1,0,0,1,0,0,0,1,0,221727.556186
3,1989,902207150,60.000000,8520,1923,2006,0.0,0,968,968,...,1,1,0,0,0,0,0,0,1,110029.565980
4,625,535105100,69.545961,9500,1963,1963,247.0,609,785,1394,...,1,0,0,1,0,0,0,0,1,183997.979301
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
873,1662,527377110,80.000000,8000,1974,1974,0.0,931,0,1084,...,1,0,0,1,0,0,0,0,1,193121.792214
874,1234,535126140,90.000000,14670,1966,1999,410.0,575,529,1104,...,1,0,0,1,0,1,0,0,1,209515.102439
875,1373,904100040,55.000000,8250,1968,1968,0.0,250,210,952,...,1,0,0,1,0,0,0,0,1,126748.482452
876,1672,527425140,60.000000,9000,1971,1971,0.0,616,248,864,...,1,0,0,1,1,0,0,0,1,117611.401079
877,1939,535327160,70.000000,8400,1955,1955,0.0,793,130,923,...,1,0,0,1,1,0,0,0,1,131656.824809

In [497]:
submission = df_test[['Id', 'SalePrice']]
submission.set_index('Id', inplace =True) 
submission.to_csv('subridge.csv')

In [498]:
submission

          SalePrice
Id
2658  128462.343600
2718  152423.728905
2414  221727.556186
1989  110029.565980
625   183997.979301
...             ...
1662  193121.792214
1234  209515.102439
1373  126748.482452
1672  117611.401079
1939  131656.824809

[878 rows x 1 columns]

## Lasso

In [499]:
lasso_alphas = np.linspace(1, 1000, 1000) 
lasso_cv = LassoCV(alphas = lasso_alphas, cv=10, max_iter=100000)

In [500]:
lasso_cv.fit(Z_train, y_train);

In [501]:
lasso_cv.alpha_

366.0

In [502]:

print(lasso_cv.score(Z_train, y_train))
print(lasso_cv.score(Z_test, y_test))

0.9169447999592929
0.8261544458018542

In [503]:
lasso_cv_best = LassoCV(alpha = 366, cv=10, max_iter=10000)

TypeError: LassoCV.__init__() got an unexpected keyword argument 'alpha'

In [ ]:
lasso_cv_best.fit(X, y)
df_test['SalePrice'] = lasso_cv_best.predict(df_test)